In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("../data/greatest_colombian_business.csv")
df.tail(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     40000 non-null  object
 1   RAZÓN SOCIAL            39998 non-null  object
 2   SUPERVISOR              40000 non-null  object
 3   REGIÓN                  40000 non-null  object
 4   DEPARTAMENTO DOMICILIO  40000 non-null  object
 5   CIUDAD DOMICILIO        40000 non-null  object
 6   CIIU                    40000 non-null  object
 7   MACROSECTOR             40000 non-null  object
 8   INGRESOS OPERACIONALES  40000 non-null  object
 9   GANANCIA (PÉRDIDA)      40000 non-null  object
 10  TOTAL ACTIVOS           40000 non-null  object
 11  TOTAL PASIVOS           40000 non-null  object
 12  TOTAL PATRIMONIO        40000 non-null  object
 13  Año de Corte            40000 non-null  object
dtypes: object(14)
memory usage: 4.3+ MB

In [4]:
financial_cols = ['INGRESOS OPERACIONALES', 'GANANCIA (PÉRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS', 'TOTAL PATRIMONIO']

for col in financial_cols:

    if df[col].dtype == 'object':
        df[col] = df[col].str.replace(r'[$,]', '', regex=True)
        df[col] = pd.to_numeric(df[col], errors='coerce')

if df['Año de Corte'].dtype == 'object':
    df['Año de Corte'] = df['Año de Corte'].astype(str).str.replace(r'[$,]', '', regex=True)
    df['Año de Corte'] = pd.to_numeric(df['Año de Corte'], errors='coerce').astype('Int64')

if 'BOGOTA D.C.' in df["DEPARTAMENTO DOMICILIO"].values:
    df.loc[df["DEPARTAMENTO DOMICILIO"] == "BOGOTA D.C.", "CIUDAD DOMICILIO"] = "Bogotá - Cundinamarca"

df.drop_duplicates(inplace=True)

df.describe()

,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.0
mean,0.167670,0.013160,0.218061,0.110702,0.107080,2022.5
std,1.392991,0.254042,2.369618,1.345162,1.117528,1.118048
min,0.010000,-3.210000,0.000000,0.000000,-3.690000,2021.0
25%,0.030000,0.000000,0.020000,0.010000,0.010000,2021.75
50%,0.040000,0.000000,0.030000,0.020000,0.010000,2022.5
75%,0.100000,0.010000,0.090000,0.050000,0.040000,2023.25
max,144.820000,33.410000,216.850000,130.540000,91.030000,2024.0

In [ ]:
df.to_csv("../data/cleaned_data.csv", index=False)